@import "header.css";

html, body, p, h1, h2, h3, h4, ul, li {
    margin: 0; padding: 0; 
}

ul {list-style: none;}
a {text-decoration: none;}

#contact {
    border-bottom: 4px solid white;
}


/*----------------------- Map -----------------*/
.map {
    z-index: -1;
    width: 100%;
    margin-top: -120px;
    background-image: url(../images/map.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;
}

.map .scale {
    width: 20%;
    position: relative;
    top: 130px;   
    left: 7%;
}

.map .scale .plus,
.map .scale .minus {
    display: block;
    width: 67px;
    height: 67px;
    font-family: FontAwesome, sans-serif;
    color:  #d5174b;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    background-color: white;
    border-radius: 50%;
}

.map .scale .minus {
    margin-top: 180px;
}

.map .scale .plus:after {
    margin-top: 14px;
    margin-left: 30px;
    width: 0px;
    content: "";
    display: block;
    border: 2px white dashed;
    box-shadow: 0px 5px 24.94px 4.06px rgba(122, 71, 3, 0.3);
    height: 184px;
}

.map .scale .polz {
    position: relative;
    display: block;
    color: white;
    background-color: white;
    box-shadow: 0px 3px 8px 0px rgba(122, 71, 3, 0.31);
    width: 40px;
    height: 18px;
    border-radius: 10px;
    top: 130px;
    left: 12px;
}

.map .mesto {
    display: block;
    position: relative;
    top: -250px;
    left: 320px;
}

.map .strelka {
    position: relative;
    display: block;
    top: -450px;
    left: 900px;
    background-color: white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.map .strelka img {
    margin-top: 25px;
    margin-left: 25px;
}


.contacts {
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
    margin-bottom: 80px;
    font-family: Cambria;
    color:  #000000;
    font-size: 30px;
    font-weight: 400;
    line-height: 38px;
    text-align: left;
}

.contacts > * {
    width: 27%;
}

.contacts em {
    font-family: Cambria;
    font-style: normal;
    color:  #d5174b;
    font-size: 30px;
    font-weight: 400;
    line-height: 38px;
    text-align: left;
}

.contacts p:nth-of-type(2) {
    font-family: Cambria;
    color: #d5174b;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.contacts p:nth-of-type(3) em {
    display: block;
    text-align: center;
}

.contacts p:nth-of-type(3) {
    width: 19%;
}

.points {
    margin-left: 55%;
    margin-top: -20px;
    margin-bottom: 30px;
}

.points ul li {
    display: inline-block;
    border: 3px solid #d5174b;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-left: 10px;
}

.points ul li:last-of-type { background-color: #d5174b }




















