
/*----------------------- Header -----------------------*/

header {
	font-family: cambria;
}

header .headFlorange {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

header .headFlorange #logotip { margin: 30px; }
header .headFlorange .zakaz { margin: 30px 60px 20px 40px;}    

header .zakaz a span {
    z-index: -1;
    position: relative;
    top: -55px;
    left: 35px;
    padding: 0px 8px;
    border-radius: 50%;
    background-color: #d5174b;
    color: #ffffff;
    font: 400 25px / 0 Arial;
    width: 18px;
    height: 18px;
}

header .headFlorange h1 {
    color: #d5174b;
    font: 400 60px / 48px Cambria;
}
    
header .zakaz input,
header li input[type="text"] {
    border-radius: 5px;
    font-size: 24px;
    color: #d5174b;
    border: 1px solid #cfbfc9;   
    background: -webkit-linear-gradient(left, #f4ecf6, #fbf9fc, #f4ecf6);
    background: linear-gradient(to right, #f4ecf6, #fbf9fc, #f4ecf6);
}
    
header .zakaz input {
    float: left;
    margin-top: 15px;
	padding: 10px 35px;
    cursor: pointer;
}

header nav {
    min-height: 210px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-image: url(../images/bow.png);
    background-size: cover;
    
}
    
header ul {
    margin-top: 45px;
    margin-left: 300px;
}

header li  {
    display: inline-block;
    margin-left: 20px;    
}

header li a {
    color: white;
    font: 400 22px / 20px Cambria;
}

header li input[type="text"] { 
    max-width: 260px;
    padding: 10px 0;
    padding-left: 60px;
    margin-left: 20px;
}

header li input[type="text"]::-webkit-input-placeholder {
    font-size: 24px;
    color: #d5174b;
    padding-left: 5px;
}

header li input[type="text"]::-moz-placeholder {
    font-size: 24px;
    color: #d5174b;
    padding-left: 5px;
}

header li input[type="text"]:-ms-input-placeholder {
    font-size: 24px;
    color: #d5174b;
    padding-left: 5px;
}

header li input[type="text"]::placeholder {
    font-size: 24px;
    color: #d5174b;
    padding-left: 5px;
}

header li #search {
    position: relative;
    right: 315px;
    top: 6px;
}