@import "importStyles/generalStyles.css";
@import "importStyles/headSearch.css";
@import "importStyles/footer.css";

/*--------------------------- Main ------------------------*/

.main {
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    margin: 0 auto;
    width: 75%;
/*    margin-left: 12.5%;*/
    margin-top: 25px;
}

/*----------------- Name Page ---------------------*/

.namePage {
    margin-bottom: 10px;
}

.namePage a {
    color: #009999;
    font: 400 14px OpenSans;
}

.namePage span {
    color: #000000;
    font: 400 13px OpenSans;
    background-image: url(../images/article/strelkaright.png);
    background-position: center left;
    padding-left: 20px;
        
}

.main h2 {
    color: #000000;
    font: 600 30px OpenSans;
    margin-bottom: 25px;
}

/*---------------------- Date Prosmotr ----------------*/

.dateProsmotr {
    margin-left: 1%;
}

.dateProsmotr span {
    color: #999999;
    font: 400 13px OpenSans;
}

.dateProsmotr span + span {
    background-image: url(../images/article/eyeIcon.png);
    background-position: center left;
    padding: 10px 0;
    padding-left: 45px;
    margin-left: 4%;
}

/*---------------------- Foto Banner --------------------*/

.fotoBanner {
    margin: 30px 0;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.fotoBanner .bigfoto {
    width: 67%;
    margin-bottom: 25px;
    margin-right: 3.5%;
}

.main p {
    color: #000000;
    font: 400 14px OpenSans;
    width: 70%;
}

/*--------------------- Social Networks -------------------*/

.socialNetworks {
    margin: 30px 0;
    margin-left: 52%;
}

.socialNetworks ul {
    margin-left: 3%;
    margin-top: 5px;
    position: relative;
}
    
.socialNetworks span {
    color: #000000;
    font: 400 13px OpenSans;
}

.socialNetworks li {
    height: 45px;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
}

.socialNetworks li a {
    height: 44px;
    display: block;
}

.socialNetworks #vk {
    left: 0px;
    width: 47px;
    background: url('../images/article/vk.png') 0 0;
}

.socialNetworks #facebook {
    left: 52px;
    width: 43px;
    background: url('../images/article/facebook.png') -47px 0;
}

.socialNetworks #twitter{
    left: 102px;
    width: 89px;
    background: url('../images/article/twitterOdnakl.png') -86px 0;
}

.socialNetworks #twitter a {
    width: 43px;
}

.socialNetworks #odnakl {
    left: 150px;
    width: 43px;
}

/*-------------------------- Comments -----------------------*/

.comments {
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    margin-bottom: 35px;
    margin-top: 50px;
}

.comments .comment {
    margin-bottom: 25px;
}

.comments .comment h3 {
    color: #000000;
    font: 600 22px OpenSans;
    margin-bottom: 17px;
}

.comments .comment span {
    color: #999999;
    font: 400 14px OpenSans;
    margin-left: 2%;
}










































