@import "importStyles/generalStyles.css";
@import "importStyles/headSearch.css";
@import "importStyles/footer.css";

/*-------------------- Main -------------------------*/

.main {
    margin-left: 13%;
}


/*-------------------- Medical Centers -------------------------*/

.medicalCenters {
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    margin: 20px auto;
    
}

.medicalCenters h2 {
    color: #000000;
    font: 600 30px OpenSans;
    margin-bottom: 20px;
}

.medicalCenters h2 a {
    color: #00abaa;
    font: 400 30px OpenSans;
    text-decoration: underline;
}

.medicalCenters .banner3 {
    width: 88%;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.medicalCenters .banner3 img {
    margin-bottom: 25px;
}

/*-------------------- Sorting And Center -------------------------*/

.SortingAndCenter {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 95%;
    margin-bottom: 47px;
}

/*-------------------- Sorting -------------------------*/

.parametrSort  li {
    display: inline-block;
}

.parametrSort b {
    display: inline-block;
    color: #000000;
    font: 600 20px OpenSans;
}

.parametrSort  li a {
    color: #009999;
    font: 400 17px Roboto;
    text-decoration: underline;
    margin-left: 7px;
}

.servicesBlock {
    width: 321px;
    margin-top: 20px;
    margin-bottom: 35px;
    border: 2px solid #06abab;
    padding-bottom: 20px;
}

.servicesBlock div {
    padding-left: 10px;
}

.servicesBlock h4 {
    color: white;
    font: 400 20px Roboto;
    background-color: #06abab;
    padding: 10px 8px;
}

.servicesBlock div b {
    display: block;
    color: #000000;
    font: 600 20px OpenSans;
    margin: 7px 0;
}

.servicesBlock .rayon b {
    display: block;
    padding-left: 30px;
}

.servicesBlock select {
    color: #000000;
    font: 400 15px OpenSans;
    width: 200px;
    padding: 3px -1px;;
    border: 1px solid #00abaa;
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px;
    background-image: url(../images/MedicalCenterCatalog/strelkaDown.png), 
                      url(../images/MedicalCenterCatalog/fonStrelkaDown.png);
    background-position: right 4px top 5px, right -3px top 0;
    margin-bottom: 35px;
}

.servicesBlock input {
    display: none;
}

.servicesBlock input:checked + label {
    background-image: url(../images/MedicalCenterCatalog/galka.png);
    background-position: center left 6px;
    
}

.servicesBlock label {
    width: 90%;
    display: block;
    color: #000000;
    font: 600 17px OpenSans;
    margin: 4px 0;    
}

.servicesBlock label:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #009999;
    position: relative;
    top: 3px;
    right: 8px;
    margin-left: 10px; 
}

.servicesBlock a {
    color: #000000;
    font: 400 17px Roboto;
}

.servicesBlock .rayon ~ div b {
    margin-bottom: 20px;
}

/*-------------------- List Centers -------------------------*/

.listCenter {
    width: 65%;
    margin-top: 45px;
}

.listCenter ul {
    height: 55px;
}

.listCenter ul li {
    float: right;
    display: inline-block;
}

.listCenter ul li:nth-of-type(7) a {
    background-color: #009999;
    color: white;
}

.listCenter ul li a {
    display: block;
    color: #009999;
    font: 600 20px OpenSans;
    border: 1px solid #ccc;
    padding: 0 7px;
}

/* ----------------------- Center ---------------------*/

.listCenter .center {
    background-color: #009999;
    min-height: 227px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 20px;
}

.listCenter .center div ~ * {display: block;}
.listCenter .center a {text-decoration: underline;}

.listCenter .center .fotoCenter {
    float: left;
    margin: 20px;
}

.listCenter .center h3 {text-align: center;}

.listCenter .center h3 a {
    color: #ecf6f8;
    font: 400 23.1px OpenSans;
}

.listCenter .center div {
    width: 100%;
    margin-top: 15px;
}

.listCenter .center .comments  {
    color: #ecf6f8;
    font: 600 18px OpenSans;
    position: relative;
    top: -4px;
    left: 10px;
    padding-left: 60px;
    background-image: url(../images/MedicalCenterCatalog/iconOtziv.png);
    background-position: center;     
}

.listCenter .center .number {
    color: #ecf6f8;
    font: 400 18.48px OpenSans;
    background-image: url(../images/MedicalCenterCatalog/iconTrubka.png);      
}

.listCenter .center .adressCenter {
    color: #ecf6f8;
    font: 600 18.48px OpenSans;
    background-image: url(../images/MedicalCenterCatalog/geoPosition.png);     
}

.listCenter .center .timeWork {
    color: #ffffff;
    font: 600 16px OpenSans;
    background-image: url(../images/MedicalCenterCatalog/alarm%D0%A1lock.png);    
}

.listCenter .center .number,
.listCenter .center .adressCenter,
.listCenter .center .timeWork {
    margin-bottom: 12px;
    background-position: center left;
    padding-left: 23px;
}

.listCenter .center .price {
    float: right;
    margin: 20px;
    width: 75%;
    margin-top: 30px;
}

.listCenter .center .price select {
    display: block;
    color: #ffffff;
    font: 400 18px "Times New Roman";
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px 5px;
    padding-right: 25px;
    border-radius: 10px;
    background-image: url(../images/MedicalCenterCatalog/StrelkaPrice.png);
    background-position: center right 5px;  
}

.listCenter .center option { color: black;}

.listCenter .price .flex {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.4);
}
.listCenter .price div span,
.listCenter .price div b {
    display: block;
}

.listCenter .price .uslugys  {
    color: #ecf6f8;
    font: 600 15.48px OpenSans;
    margin: 7px;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
}

.listCenter .price .priceUsluga { margin-top: 4px; }

.listCenter .price .priceUsluga span  {
    color: #ecf6f8;
    font: 0 20px OpenSans;
    margin: 5px    ;
}

/* -----------------------  Other Medical Center ---------------------*/

#otherCenter1, #otherCenter2, #otherCenter3  { 
    margin-bottom: -10px;
    background-color: white; 
}
    
#otherCenter1 .fotoCenter,
#otherCenter2 .fotoCenter { margin-top: 30px; }

#otherCenter1 a, 
#otherCenter2 a,
#otherCenter3 a,
#otherCenter1 span,
#otherCenter2 span,
#otherCenter3 span,
#priceOtherCenter select { color: #009999; }

#priceOtherCenter select {
    float: right;
    margin-right: 35%;
}

#otherCenter3 { margin-top: 20px;}
#otherCenter3 h3 a { margin-left: 30%;}

#otherCenter3 h3,
#otherCenter3 span {
    margin-bottom: 10px;
}
#otherCenter3 div div {
    float: right;
    width: 40%;   
}

#otherCenter3 div > * {
    margin: 15px 0;
}

#otherCenter3 div div  {
    position: relative;
    margin-top: 25px;
    left: -3%;
}

#otherCenter3 div div a {
    display: block;
    margin-top: -35px;
    width: 10%;
    padding-left: 35px;
    margin-left: 140px;
    background-position: left center;
}

.listCenter p {
    color: #000000;
    font: 400 12px MyriadPro;
}














































