html, body, p, h1, h2, h3, h4, ul,
li, a, input, select, label, span, b, div {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
}
ul { list-style: none; }
a { text-decoration: none; }
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@font-face {
    font-family: OpenSans;
    src: url("../../font/OpenSans.ttf");
}

@font-face {
    font-family: MyriadPro;
    src: url("../../font/MyriadPro-Regular.otf");
}
