@media (max-width: 849px) {
    header h2 { margin-left: -2%;}    
    header ul {margin-left: -10%;}    
    header li {margin-left: 1%;}
    
    .services .blockServices {width: 90%;}
    .services .blockServices div {margin: 0 10px;}
    
    .justRelax .img img {left: 5%;}

    .cultureValues .block div:nth-of-type(1)::before,
    .cultureValues .block div:nth-of-type(2)::before {
        left: 94%;
    }
    
    .ourClients .quote2 div::after {
        display: none;
    }
}

